practices/revops/skills/enrichment-providers/n8n-explorium-template.json
{
  "name": "Generate Sales Emails Based on Business Events with Explorium MCP & Claude",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "id": "e2c45ad4-3d5b-4dc1-99a2-72637a23a8b6",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -144,
        640
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "r9qiVWC40Dj3jbwM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ 1 }}",
        "options": {
          "reset": false
        }
      },
      "id": "e437cc1e-c25f-47be-b0df-3763d520c6d5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        528,
        1008
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "# Ready-to-Send Output\n1. **Instant Slack notifications**\n2. **Review before deployment**\n3. **CRM integration ready**\n4. **Scalable to 1000s of prospects**",
        "height": 520,
        "width": 1560,
        "color": 3
      },
      "id": "ed81f83b-cc59-4958-918a-f6b3cffda7f2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sseEndpoint": "mcp.explorium.ai/sse",
        "authentication": "bearerAuth",
        "options": {}
      },
      "id": "1bf4a626-e9f2-44ef-8efc-42fb73e91cc6",
      "name": "Explorium MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        528,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "httpBearerAuth": {
          "id": "dQyjeCQXmZwm8BRh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "https://lievi.app.n8n.cloud/webhook-test/product-launch",
        "options": {}
      },
      "id": "d98ee301-261d-4b39-b7c9-58ab5eaa56f8",
      "name": "Webhook - Product Launch",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -464,
        528
      ],
      "webhookId": "09d12e26-7fb0-492f-913f-119f627de19b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.explorium.ai/v1/prospects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "api_key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mode\": \"full\",\n  \"page\": 1,\n  \"size\": 5,\n  \"page_size\": 5,\n  \"filters\": {\n    \"has_email\": { \"value\": true },\n    \"job_level\": {\n      \"values\": [\"owner\", \"cxo\", \"vp\", \"director\", \"manager\", \"senior\"]\n    },\n    \"job_department\": {\n      \"values\": [\"Marketing\"]\n    },\n    \"business_id\": {\n      \"values\": [\"{{ $('Webhook - Product Launch').item.json.body.business_id }}\"]\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "1b28aa95-8606-44e0-a9da-c77bdc7b86a3",
      "name": "Explorium Prospects API Call",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        784,
        560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8627133a-68d0-4907-b8ca-d8deba93089d",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.length }}\n",
              "rightValue": "=0"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "97a048ba-718d-48d3-8ef3-ccd2a70df988",
      "name": "Is there data on the company?",
      "type": "n8n-nodes-base.if",
      "position": [
        992,
        512
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "id": "35b7e2ad-d4ac-44c4-acf2-6b81c798458c",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1600,
        512
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "r9qiVWC40Dj3jbwM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const candidates = $input.first().json.data;\n\nif (!Array.isArray(candidates) || candidates.length === 0) {\n  throw new Error(\"No candidates found in data.\");\n}\n\nconst result = candidates.map(candidate => {\n  return {\n    json: {\n      prospect_id: candidate.prospect_id,  \n      full_name: candidate.full_name,\n      first_name: candidate.first_name,\n      last_name: candidate.last_name,\n      title: candidate.job_title,\n      department: candidate.job_department,\n      seniority: candidate.job_seniority_level?.join(', ') || '',\n      company: candidate.company_name,\n      location: `${candidate.city}, ${candidate.region_name}, ${candidate.country_name}`,\n      linkedin: candidate.linkedin,\n      email: candidate.professional_email_hashed || '',\n      experience: candidate.experience?.join(' | ') || '',\n      skills: candidate.skills?.join(', ') || '',\n      interests: candidate.interests?.join(', ') || '',\n      business_id: candidate.business_id\n    }\n  };\n});\n\nreturn result;\n"
      },
      "id": "589e0247-96d2-481b-a6c9-28948481d6ad",
      "name": "Code - Format Object",
      "type": "n8n-nodes-base.code",
      "position": [
        1184,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const prospectIds = $input.all()\n  .map(item => String(item.json.prospect_id).trim()) // Force string and trim whitespace\n  .filter(Boolean); // remove empty/null\n\nreturn [{\n  json: {\n    prospect_ids: prospectIds\n  }\n}];\n"
      },
      "id": "9d6f7040-45e2-434e-a56d-6916b9f7721b",
      "name": "Code - Get prospect_ids",
      "type": "n8n-nodes-base.code",
      "position": [
        1392,
        624
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": "U08KUURMK2S",
          "cachedResultName": "itamar.levi"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "9cebc65d-7d5b-4149-a82c-3ee7b6ed3663",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1952,
        512
      ],
      "webhookId": "3bd7b28e-1c59-49a8-bdd0-cb2e314daee6",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "d8KK9qWf0jBQcjSZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.explorium.ai/v1/prospects/contacts_information/bulk_enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "api_key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prospect_ids: $json.prospect_ids }) }}\n\n",
        "options": {}
      },
      "id": "dd354514-0845-4983-ad41-9513603d7a97",
      "name": "Explorium Contacts Information API Call",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1744,
        592
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Get full profile data from the HTTP Request node\nconst profiles = $('Explorium Prospects API Call').first().json.data;\n\n// Get contact enrichment data from the current input\nconst contactEnrichments = $input.first().json.data;\n\n// Step 1: Create a lookup table for enriched contact info\nconst contactMap = {};\nfor (const contact of contactEnrichments) {\n  contactMap[contact.prospect_id] = contact.data;\n}\n\n// Step 2: Merge profile with email info\nconst result = profiles.map(profile => {\n  const contact = contactMap[profile.prospect_id];\n\n  // Determine the best email\n  let email = profile.email || \"\";\n  if (contact) {\n    email = contact.professions_email ||\n            (contact.emails?.find(e => e.type === \"professional\")?.address) ||\n            (contact.emails?.[0]?.address) ||\n            \"\";\n  }\n\n  return {\n    json: {\n      ...profile,\n      email // now includes enriched email if found\n    }\n  };\n});\n\nreturn result;\n"
      },
      "id": "702e56e7-00b7-41dc-9459-b6bec19b4e1e",
      "name": "Code - Merge profile with email info",
      "type": "n8n-nodes-base.code",
      "position": [
        192,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "id": "e9aa9c27-1e9f-477b-9940-0bb4e16ad968",
      "name": "Anthropic - Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1040,
        1168
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "r9qiVWC40Dj3jbwM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C08U1DDTQ7Q",
          "cachedResultName": "evergreen-outbound-campaign"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "5981e11f-e86b-4f10-9e85-af77a1668459",
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1360,
        992
      ],
      "webhookId": "5d5bb3f1-0bc6-494b-8705-f108ee11b313",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "d8KK9qWf0jBQcjSZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data }}",
        "options": {
          "systemMessage": "You are a research analyst helping a sales agent write a highly personalized outbound email. Your job is to generate a detailed research brief that explains:\n\n1. **What the company does**\n2. **What the recent business event is**, and why it's significant\n3. **How the event might reflect on the company’s priorities, pain points, or growth goals**\n4. Any additional company context that might be useful for crafting a relevant sales message\n\n## Guidelines:\n- Your response should be **detailed, structured, and accurate**\n- You are writing **for another AI**, so don't hold back on context — more is better\n- You can assume the user already passed in the full event details (like a trigger type, a short summary, etc.)\n- Focus more on **interpreting** the event and **linking it to the company**\n- Write in **natural language**, using clear, concise, informative sentences — not marketing fluff or speculation\n- Keep your tone objective and analytical\n- Avoid repeating generic phrases like “the company is innovative” unless supported by facts\n\n## Inputs:\n- Business ID: {{ $json.body.business_id }}\n- Event: {{ $json.body.data }}\n\n## Output Structure:\nReturn your findings in 2-3 clear paragraphs. The first paragraph should describe the **event in detail** and explain why it may be relevant. The second should summarize what the **company does** and any other useful GTM signals (size, growth stage, recent changes, priorities, etc.).\n\nNow generate the research summary.\n",
          "maxIterations": 12
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -64,
        480
      ],
      "id": "405048ee-0254-46c6-9916-58b64b4873f8",
      "name": "Company Researcher"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=company data:{{ $('Company Researcher').first().json.output }}\nevent data: {{ $('Webhook - Product Launch').first().json.body }}",
        "options": {
          "systemMessage": "You are a B2B outbound email assistant.\n\nYour task is to write a short, personalized outbound email (under 120 words) that connects Explorium to a recent business event or trigger at a target company. This email will be sent to a general marketing, growth, or data contact — no specific prospect information is available.\n\n## Context Provided:\n- Company Information: {company_data}\n- Event Information: {event_data}\n\n## About Explorium (Use as context — DO NOT paste directly):\nExplorium is on a mission to unlock the full potential of data for the agent era. From day one, we’ve been driven to be the data and infrastructure backbone that powers intelligent systems and delivers real business growth.\n\nWe partner with smart, driven teams to turn raw external data into actionable insight—fueling agents, AI products, and GTM strategies for the future of sales and marketing.\n\nIf relevant, you may mention that they can explore Explorium’s capabilities themselves via our [MCP Playground](https://www.explorium.ai/mcp-playground/), a public demo environment showcasing the power of enriched data. \n\ndont forget to always end with a call to action in setting up some sort of call or meeting to talk further\n\n## Instructions:\n- Reference the event to establish relevance and timing\n- Briefly describe what the company does (from the input)\n- Weave in Explorium’s value if it's applicable to their business priorities\n- If appropriate, suggest checking out the MCP Playground link\n- End with a warm, soft CTA\n\nNow write the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1392,
        320
      ],
      "id": "224d15b3-823b-4cfb-83c8-a3f47639cc9f",
      "name": "Email Writer (NO prospect data)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=prospect_data: contact info:{{ $json.email }}, expereince:{{ $json.experience }},skills:{{ $json.skills }}.\ncompany data:{{ $('Company Researcher').first().json.output }}\nevent data: {{ $('Webhook - Product Launch').first().json.body }}",
        "options": {
          "systemMessage": "You are a B2B outbound sales email generator.\n\nYour task is to write a short and effective cold outbound email (under 150 words) to a specific prospect at a company. The goal is to be relevant, concise, and persuasive, while introducing Explorium in a way that aligns with the prospect’s role and current company context.\n\n## Prospect Data\n{prospect_data}\n\n## Company \n{company_data}\n\n## Event Data\n{event_data}\n\n## About Explorium (Use this to inform the email — do not paste directly):\nExplorium is a data-powered intelligence platform on a mission to unlock the full potential of external data for the agent era. We serve as the infrastructure backbone for intelligent systems — helping go-to-market teams enrich company and prospect data, tap into real-time signals, and dynamically prioritize their best-fit accounts. Our platform fuels the agents and AI products that are redefining the future of sales and marketing.\n\n## MCP Playground (Link to include):\nInvite the prospect to explore Explorium’s capabilities hands-on via our [MCP Playground](https://www.explorium.ai/mcp-playground/), a public environment to experience the power of enriched external data.\n\n## Output Instructions:\n- Personalize the email using the provided prospect, company, and event information\n- Tailor the message to the prospect’s title, department, or function\n- Weave in how Explorium could support their work or goals based on what the company is focused on\n- The email should feel like it’s written by a real SDR — confident, relevant, and human\n- End the email with a soft CTA inviting them to check out the MCP Playground link but dont forget to also ask to set up a meeting / call\n- At the top of the email, output the selected email address to use. Choose the prospect’s **professional email** if available, or fallback to the next best alternative (personal, current, etc.)\n\nNow write the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        880,
        928
      ],
      "id": "b8dab961-f7b6-42a2-b776-1e62ac62d1e0",
      "name": "Email Writer (YES prospect data)"
    },
    {
      "parameters": {
        "content": "# Explorium MCP + Claude Intelligence\n1. **Auto-enriches via MCP server**\n2. **Claude analyzes business context**\n3. **Identifies growth signals**\n4. **Strategic insights in seconds**",
        "height": 480,
        "width": 640,
        "color": 6
      },
      "id": "1f7c4f4e-7070-4717-8594-6a449376095b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Live Business Intelligence\n1. **Instant alerts on product launched**\n2. **Real-time company event monitoring**\n3. **Zero-delay trigger activation**\n4. **Webhook-powered automation**",
        "height": 400,
        "width": 460,
        "color": 5
      },
      "id": "90932221-2491-40a9-a6cf-207c17348b02",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Precision Targeting Engine\n1. **Finds decision-makers by role**\n2. **Enriches contact data automatically**\n3. **Filters by department & seniority**\n4. **Validates email deliverability**",
        "height": 480,
        "width": 1400,
        "color": 2
      },
      "id": "10e70423-2450-4b40-97e9-b19d2c95e2f5",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Event-Triggered AI Prospecting at Scale\n\n### - Processes 100+ business events per hour\n### - Zero-touch prospect identification\n### - AI-powered personalization engine\n### - From trigger to email in under 60 seconds\n### - Built for modern sales teams",
        "height": 280,
        "width": 960,
        "color": 4
      },
      "id": "ab1272de-b623-423f-8d29-fac997e33a8e",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Explorium MCP\n- **Real-time company enrichment**\n- **500M+ business profiles**\n- **Live funding & growth signals**\n- **Technographic insights**\n- **Employee movement tracking**\n- **Product launch detection**",
        "height": 480,
        "width": 280,
        "color": 7
      },
      "id": "164922ad-afc7-46ed-89af-7b10536e2cb7",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        304
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Email Writer (NO prospect data)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explorium MCP": {
      "ai_tool": [
        [
          {
            "node": "Company Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Email Writer (YES prospect data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Company Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Object": {
      "main": [
        [
          {
            "node": "Code - Get prospect_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic - Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Writer (YES prospect data)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - Get prospect_ids": {
      "main": [
        [
          {
            "node": "Explorium Contacts Information API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Product Launch": {
      "main": [
        [
          {
            "node": "Company Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explorium Prospects API Call": {
      "main": [
        [
          {
            "node": "Is there data on the company?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there data on the company?": {
      "main": [
        [
          {
            "node": "Email Writer (NO prospect data)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Format Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Merge profile with email info": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explorium Contacts Information API Call": {
      "main": [
        [
          {
            "node": "Code - Merge profile with email info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Researcher": {
      "main": [
        [
          {
            "node": "Explorium Prospects API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Writer (NO prospect data)": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Writer (YES prospect data)": {
      "main": [
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5dd2c374-78cf-40d3-96fb-c562bd58d257",
  "meta": {
    "instanceId": "ff3823aeb1dd592aa71eb8af96615f01af25e12826f45d2c3e771d17c05cebb4"
  },
  "id": "k5YbcPbH6z6eD0fd",
  "tags": [
    {
      "updatedAt": "2025-10-24T19:54:37.431Z",
      "createdAt": "2025-10-24T19:54:37.431Z",
      "id": "byqbXthMWmhYwZvo",
      "name": "RevOps"
    }
  ]
}