systems/revops-engine/n8n/promote-airtable-sync.json
{
  "name": "Promote → Airtable (flat upsert)",
  "nodes": [
    {
      "id": "n1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "39e9f285-b9c0-47c7-a945-2268c4e38655",
      "parameters": {
        "httpMethod": "POST",
        "path": "promote-airtable-sync",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "n2",
      "name": "Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "jsCode": "const inJson = $input.first().json;\nconst body = inJson.body || inJson;\nconst table = body.table;\nconst r = body.record || {};\nconst TABLES = { companies: 'tblnj3YlOI3thjrXp', contacts: 'tblWJksRL1yKSUgrm' };\nconst MAPS = {\"companies\":{\"id\":{\"at\":\"Supabase ID\",\"type\":\"singleLineText\"},\"name\":{\"at\":\"Company Name\",\"type\":\"singleLineText\"},\"domain\":{\"at\":\"Domain\",\"type\":\"url\"},\"industry\":{\"at\":\"Industry\",\"type\":\"singleLineText\"},\"country\":{\"at\":\"HQ Country\",\"type\":\"singleLineText\"},\"employee_count\":{\"at\":\"Employee Count\",\"type\":\"number\"},\"funding_stage\":{\"at\":\"Funding Stage\",\"type\":\"singleLineText\"},\"revenue_range\":{\"at\":\"Revenue Range\",\"type\":\"singleLineText\"},\"company_research\":{\"at\":\"Company Research\",\"type\":\"multilineText\"},\"last_funding_date\":{\"at\":\"Last Funding Date\",\"type\":\"date\"},\"fit_score\":{\"at\":\"Fit Score\",\"type\":\"number\"},\"naics_code\":{\"at\":\"NAICS Code\",\"type\":\"singleLineText\"},\"company_score\":{\"at\":\"Company Score\",\"type\":\"number\"},\"sf_account_id\":{\"at\":\"SF Account ID\",\"type\":\"singleLineText\"},\"sf_has_open_opp\":{\"at\":\"SF Has Open Opp\",\"type\":\"checkbox\"},\"sf_has_closed_won\":{\"at\":\"SF Has Closed Won\",\"type\":\"checkbox\"},\"classification_notes\":{\"at\":\"Classification Notes\",\"type\":\"multilineText\"},\"playbook_fit_score\":{\"at\":\"Playbook Fit Score\",\"type\":\"number\"},\"hq_state\":{\"at\":\"HQ State\",\"type\":\"singleLineText\"},\"enrichment_status\":{\"at\":\"Enrichment Status\",\"type\":\"singleSelect\"},\"company_linkedin_url\":{\"at\":\"Company LinkedIn URL\",\"type\":\"singleLineText\"}},\"contacts\":{\"id\":{\"at\":\"Supabase ID\",\"type\":\"singleLineText\"},\"first_name\":{\"at\":\"First Name\",\"type\":\"singleLineText\"},\"last_name\":{\"at\":\"Last Name\",\"type\":\"singleLineText\"},\"email\":{\"at\":\"Email\",\"type\":\"email\"},\"linkedin_url\":{\"at\":\"LinkedIn URL\",\"type\":\"singleLineText\"},\"title\":{\"at\":\"Title\",\"type\":\"singleLineText\"},\"country\":{\"at\":\"Country\",\"type\":\"singleLineText\"},\"state_region\":{\"at\":\"State/Region\",\"type\":\"singleLineText\"},\"city\":{\"at\":\"City\",\"type\":\"singleLineText\"},\"email_confidence\":{\"at\":\"Email Confidence\",\"type\":\"number\"},\"dmu_tier\":{\"at\":\"DMU Tier\",\"type\":\"singleLineText\"},\"seniority_level\":{\"at\":\"Seniority Level\",\"type\":\"singleLineText\"},\"icp_score\":{\"at\":\"ICP Score\",\"type\":\"number\"},\"email_verified_status\":{\"at\":\"Email Verified Status\",\"type\":\"singleSelect\"},\"linkedin_headline\":{\"at\":\"LinkedIn Headline\",\"type\":\"singleLineText\"},\"mobile_phone\":{\"at\":\"Mobile Phone\",\"type\":\"singleLineText\"},\"last_enriched_at\":{\"at\":\"Last Enriched At\",\"type\":\"dateTime\"},\"gate_level\":{\"at\":\"Gate Level\",\"type\":\"singleLineText\"},\"known_status\":{\"at\":\"Known Status\",\"type\":\"singleLineText\"},\"delivery_path\":{\"at\":\"Delivery Path\",\"type\":\"singleLineText\"},\"linkedin_about\":{\"at\":\"LinkedIn About\",\"type\":\"multilineText\"},\"sf_contact_id\":{\"at\":\"SF Contact ID\",\"type\":\"singleLineText\"},\"sf_entity_type\":{\"at\":\"SF Entity Type\",\"type\":\"singleLineText\"},\"linkedin_education\":{\"at\":\"LinkedIn Education\",\"type\":\"multilineText\"},\"linkedin_certifications\":{\"at\":\"LinkedIn Certifications\",\"type\":\"multilineText\"},\"linkedin_languages\":{\"at\":\"LinkedIn Languages\",\"type\":\"multilineText\"},\"fit_score\":{\"at\":\"Fit Score\",\"type\":\"number\"},\"signal_score\":{\"at\":\"Signal Score\",\"type\":\"number\"},\"seniority\":{\"at\":\"Seniority\",\"type\":\"singleLineText\"},\"enrichment_status\":{\"at\":\"Enrichment Status\",\"type\":\"singleSelect\"},\"contact_score\":{\"at\":\"Contact Score\",\"type\":\"number\"}}};\nif (!TABLES[table]) return [{ json: { skip: true, table } }];\nconst map = MAPS[table];\nconst coerce = (v, type) => {\n  if (v == null || v === '') return undefined;\n  if (type === 'multipleSelects') return String(v).split(',').map(s => s.trim()).filter(Boolean);\n  if (type === 'checkbox') return (v === true || v === 'true' || v === 't');\n  if (type === 'number' || type === 'currency' || type === 'percent') { const n = Number(v); return isNaN(n) ? undefined : n; }\n  return v;\n};\nconst fields = {};\nfor (const [col, def] of Object.entries(map)) {\n  const val = coerce(r[col], def.type);\n  if (val !== undefined && !(Array.isArray(val) && val.length === 0)) fields[def.at] = val;\n}\nif (body.verdict) fields['Promote Verdict'] = body.verdict;\nif (body.play_name) fields['Promote Play'] = body.play_name;\nfields['Supabase Raw'] = JSON.stringify(r);\nfields['Supabase ID'] = r.id;\nreturn [{ json: { airtableTable: TABLES[table], airtableBody: { performUpsert: { fieldsToMergeOn: ['Supabase ID'] }, records: [{ fields }], typecast: true } } }];"
      }
    },
    {
      "id": "n3",
      "name": "Airtable Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appYBYH3aOHhTODAw/{{ $json.airtableTable }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.airtableBody }}",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "FYqJQqdXIQkmT715",
          "name": "may 26 all bases"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map": {
      "main": [
        [
          {
            "node": "Airtable Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "active": true,
  "id": "Hfb3N72nBmPBtE8d"
}